body{
	color: #222831;
	background-color:#fcf8e8;
	color: rgb(30,30,30);
	font-family: 'Vollkorn', serif;
	font-weight: 300;
	font-size: 15px;
}
h1{
	color: #222831;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
}
h2{
	color:#30475e;
	font-family:'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

a{
	color:#4d4c7d;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 15px;
	text-decoration: none 
}
a:hover{
	color:#222831;
}

/* Custom design with class* (99% of your design)*/


.container {
	width: 700px;
	margin: 15px auto;
}
@media(max-width:800px){
	.container{
		width : 600px;
	}
}
@media(max-width:650px){
	.container{
		width : 400px;
	}
}

.card-white{
	background: white;
	padding:15px;
	box-shadow : 0px 10px 30px rgba(0,0,0,0.1);
	border-radius : 6px;
	margin : 20px 5px;
	text-align:center;	
}
.card-white p{
	text-align:justify;
}

.img-circle{
	border-radius: 50%;
}

.btn-blue{
	background-color:#4d4c7d;
	color:white;
	padding: 15px 20px;
	border-radius:6px;
}
.btn-blue:hover{
	background-color:#222831;
	color:white;
}

.list-inline{
	list-style:none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding:10px;
}
.list-inline i{
	font-size:40px;
	color:#4d4c7d;
}
.list-inline i:hover{
	color:#222831;
}
/* Design adjustments using id (1% of design remaining)*/
#introduction p{
	margin-bottom :20px;
	text-align:center;
}
#credits{
	font-family: 'Vollkorn', serif;
	font-size: 5px
}